### Ajuste base e separação jovens

In [1]:
#instalação dos componetes
import pandas as pd
import numpy as np
import os
import glob
import re
import gc

In [2]:
# ## Seleção de colunas para importação. 
cols_name = ['ano',
            'Município',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'CNAE 2.0 Classe',
            'Tipo Vínculo',
            'Tamanho Estabelecimento', 
            'Vl Remun Média Nom'
]

### Ajuste dados RAIS - II

In [3]:
# importando dados rais
df_rais_vinculos = pd.read_csv('dados_rais/dados_rais.csv', usecols = cols_name)

In [6]:
# ajustar nomes das colunas
df_rais_vinculos.columns = df_rais_vinculos.columns.str.lower().str.replace(' ', '_').str.replace('.', '').str.replace('í', 'i', regex=True).str.replace('á', 'a', regex=True).str.replace('ó', 'o', regex=True).str.replace('ç', 'c', regex=True).str.replace('ã', 'a', regex=True).str.replace('é', 'e', regex=True)

In [7]:
#encontrando as colunas
df_rais_vinculos.columns

Index(['ano', 'municipio', 'raca_cor', 'sexo_trabalhador', 'idade',
       'faixa_etaria', 'escolaridade_apos_2005', 'cnae_20_classe',
       'tamanho_estabelecimento', 'tipo_vinculo', 'vl_remun_media_nom'],
      dtype='object')

In [8]:
df_rais_vinculos.head()

,ano,municipio,raca_cor,sexo_trabalhador,idade,faixa_etaria,escolaridade_apos_2005,cnae_20_classe,tamanho_estabelecimento,tipo_vinculo,vl_remun_media_nom
0,2018,500630,8,1,35,5,1,10651,5,10,1442.17
1,2018,500630,8,1,43,6,1,10651,5,10,1500.00
2,2018,500320,2,1,59,7,1,47121,2,10,0.00
3,2018,500500,9,1,62,7,1,10911,2,10,1743.67
4,2018,500110,8,1,52,7,1,2101,5,10,1372.66

In [9]:
df_rais_vinculos.shape

(237985081, 11)

In [10]:
df_rais_vinculos_jovens = df_rais_vinculos.query('idade >= 15 & idade <= 29')

In [11]:
df_rais_vinculos_jovens.shape

(65083382, 11)

#### Ajuste colunas município e cnae

In [18]:
# Agora, use o método 'zfill' para adicionar zeros à esquerda para valores com 4 dígitos
df_rais_vinculos_jovens.loc[:, 'cnae_20_classe'] = df_rais_vinculos_jovens['cnae_20_classe'].astype(str).apply(lambda x: x.zfill(5))

In [22]:
# cria coluna grupo
df_rais_vinculos_jovens.loc[:, 'cnae_20_divisao'] = df_rais_vinculos_jovens['cnae_20_classe'].apply(lambda x: x[:-3])

In [ ]:
# cria coluna grupo
df_rais_vinculos_jovens['cnae_20_grupo'] = df_rais_vinculos_jovens['cnae_20_classe'].apply(lambda x: x[:-2])

In [ ]:
# cria coluna grupo
df_rais_vinculos_jovens['uf'] = df_rais_vinculos_jovens['municipio'].astype(str).apply(lambda x: x[:-4])

In [26]:
# Ajustar a coluna indice
df_rais_vinculos_jovens.head().reset_index(drop=True)

,ano,municipio,raca_cor,sexo_trabalhador,idade,faixa_etaria,escolaridade_apos_2005,cnae_20_classe,tamanho_estabelecimento,tipo_vinculo,vl_remun_media_nom,cnae_20_divisao,cnae_20_grupo,uf
0,2018,500270,8,1,22,3,1,10694,5,10,1344.96,10,106,50
1,2018,500370,1,1,25,4,1,22234,3,10,1223.16,22,222,50
2,2018,500240,2,1,22,3,1,94201,8,40,314.82,94,942,50
3,2018,500240,1,1,25,4,1,94201,8,40,2041.33,94,942,50
4,2018,500370,8,1,27,4,1,23117,5,10,1352.95,23,231,50

In [32]:
df_rais_vinculos_jovens.to_csv('dados_rais/dados_rais_jovens.csv', index=False)