### Junção dos dados 2018 a 2022

In [1]:
#instalação dos componetes
import pandas as pd
import numpy as np

### Análise exploratória dados RAIS

In [2]:
# ## Seleção de colunas para importação. 
cols_name = ['ano',
            'Município',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'CNAE 2.0 Classe',
            'Tipo Vínculo',
            'Tamanho Estabelecimento', 
            'Vl Remun Média Nom'
]

In [4]:
# importando dados rais
df_rais_vinculos_2022 = pd.read_csv('dados_rais/df_rais_total_vinculos_2022.csv', usecols = cols_name,                       
       dtype={'Raça Cor': np.uint8, 
       'Sexo Trabalhador': np.uint8, 
       'Idade': np.uint8,
       'Faixa Etária': np.uint8, 
       'Escolaridade após 2005': np.uint8,
       'Tipo Vínculo': np.uint8,
       'Tamanho Estabelecimento': np.uint8
})

In [5]:
# importando dados rais
df_rais_vinculos_2021 = pd.read_csv('dados_rais/df_rais_total_vinculos_2021.csv', usecols = cols_name,                       
       dtype={'Raça Cor': np.uint8, 
       'Sexo Trabalhador': np.uint8, 
       'Idade': np.uint8,
       'Faixa Etária': np.uint8, 
       'Escolaridade após 2005': np.uint8,
       'Tipo Vínculo': np.uint8,
       'Tamanho Estabelecimento': np.uint8
})

In [6]:
# importando dados rais
df_rais_vinculos_2020 = pd.read_csv('dados_rais/df_rais_total_vinculos_2020.csv', usecols = cols_name,                       
       dtype={'Raça Cor': np.uint8, 
       'Sexo Trabalhador': np.uint8, 
       'Idade': np.uint8,
       'Faixa Etária': np.uint8, 
       'Escolaridade após 2005': np.uint8,
       'Tipo Vínculo': np.uint8,
       'Tamanho Estabelecimento': np.uint8
})

In [7]:
# importando dados rais
df_rais_vinculos_2019 = pd.read_csv('dados_rais/df_rais_total_vinculos_2019.csv', usecols = cols_name,                       
       dtype={'Raça Cor': np.uint8, 
       'Sexo Trabalhador': np.uint8, 
       'Idade': np.uint8,
       'Faixa Etária': np.uint8, 
       'Escolaridade após 2005': np.uint8,
       'Tipo Vínculo': np.uint8,
       'Tamanho Estabelecimento': np.uint8
})

In [8]:
# importando dados rais
df_rais_vinculos_2018 = pd.read_csv('dados_rais/df_rais_total_vinculos_2018.csv', usecols = cols_name,                       
       dtype={'Raça Cor': np.uint8, 
       'Sexo Trabalhador': np.uint8, 
       'Idade': np.uint8,
       'Faixa Etária': np.uint8, 
       'Escolaridade após 2005': np.uint8,
       'Tipo Vínculo': np.uint8,
       'Tamanho Estabelecimento': np.uint8
})

In [9]:
df_rais_vinculos = pd.concat([df_rais_vinculos_2018, df_rais_vinculos_2019, df_rais_vinculos_2020, df_rais_vinculos_2021, df_rais_vinculos_2022], ignore_index=True)

In [16]:
df_rais_vinculos.head()

,ano,Município,Raça Cor,Sexo Trabalhador,Idade,Faixa Etária,Escolaridade após 2005,CNAE 2.0 Classe,Tamanho Estabelecimento,Tipo Vínculo,Vl Remun Média Nom
0,2018,500630,8,1,35,5,1,10651,5,10,1442.17
1,2018,500630,8,1,43,6,1,10651,5,10,1500.00
2,2018,500320,2,1,59,7,1,47121,2,10,0.00
3,2018,500500,9,1,62,7,1,10911,2,10,1743.67
4,2018,500110,8,1,52,7,1,2101,5,10,1372.66

In [17]:
df_rais_vinculos['Município'].count()

237985081

In [18]:
df_rais_vinculos.to_csv('dados_rais/dados_rais.csv', index=False)

In [18]:
del df_rais_vinculos