In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in c:\python\lib\site-packages (2.2.1)
Requirement already satisfied: numpy in c:\python\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ebteo\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ebteo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
#instalação dos componetes
import pandas as pd
import numpy as np
import os
import glob
import re
import gc

# configurando o pandas para não mostrar a notação científica para números
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [3]:
# configurando para mostrar todas as colunas   
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)

## Tratamento de dados Rais

#### Importar e agregar dados RAIS 2022

In [4]:
# ## Seleção de colunas para importação. 
cols_name = [ 'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'Vl Remun Média Nom', 
            'Vl Remun Média (SM)',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe',
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento',
            'Tipo Estab',
            'Tipo Vínculo',
            'Tipo Admissão'
]

#### Import SUL

In [5]:
# importando dados rais
df_rais_vinculos_sul = pd.read_csv('2022/RAIS_VINC_PUB_SUL.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_sul['ano'] = 2022

# # Reorganizado posição das colunas. 
df_rais_vinculos_sul = df_rais_vinculos_sul[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_sul = df_rais_vinculos_sul[(df_rais_vinculos_sul['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_sul.to_csv('2022/rais_2022/df_rais_vinculos_sul.csv', index=False)

## limpeza de memória
del df_rais_vinculos_sul
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_22840\1845124636.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_sul = pd.read_csv('2022/RAIS_VINC_PUB_SUL.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import Nordeste

In [6]:
# importando dados rais
df_rais_vinculos_nordeste = pd.read_csv('2022/RAIS_VINC_PUB_NORDESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_nordeste['ano'] = 2022

## Reorganizado posição das colunas. 
df_rais_vinculos_nordeste = df_rais_vinculos_nordeste[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_nordeste = df_rais_vinculos_nordeste[(df_rais_vinculos_nordeste['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_nordeste.to_csv('2022/rais_2022/df_rais_vinculos_nordeste.csv', index=False)

## limpeza de memória
del df_rais_vinculos_nordeste
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_3500\4286659792.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_nordeste = pd.read_csv('2022/RAIS_VINC_PUB_NORDESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import NORTE

In [6]:
# importando dados rais
df_rais_vinculos_norte = pd.read_csv('2022/RAIS_VINC_PUB_NORTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_norte['ano'] = 2022

## Reorganizado posição das colunas. 
df_rais_vinculos_norte = df_rais_vinculos_norte[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_norte = df_rais_vinculos_norte[(df_rais_vinculos_norte['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_norte.to_csv('2022/rais_2022/df_rais_vinculos_norte.csv', index=False)

## limpeza de memória
del df_rais_vinculos_norte
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_3716\2150414202.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_norte = pd.read_csv('2021/RAIS_VINC_PUB_NORTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import MG, ES e RJ.

In [16]:
# importando dados rais
df_rais_vinculos_mg_es_rj = pd.read_csv('2022/RAIS_VINC_PUB_MG_ES_RJ.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_mg_es_rj['ano'] = 2022

## Reorganizado posição das colunas. 
df_rais_vinculos_mg_es_rj = df_rais_vinculos_mg_es_rj[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_mg_es_rj = df_rais_vinculos_mg_es_rj[(df_rais_vinculos_mg_es_rj['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_mg_es_rj.to_csv('2022/rais_2022/df_rais_vinculos_mg_es_rj.csv', index=False)

## limpeza de memória
del df_rais_vinculos_mg_es_rj
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_3500\4002569126.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_mg_es_rj = pd.read_csv('2022/RAIS_VINC_PUB_MG_ES_RJ.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import CENTRO_OESTE.

In [7]:
# importando dados rais
df_rais_vinculos_centro_oeste = pd.read_csv('2022/RAIS_VINC_PUB_CENTRO_OESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_centro_oeste['ano'] = 2022

# # Reorganizado posição das colunas. 
df_rais_vinculos_centro_oeste = df_rais_vinculos_centro_oeste[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_centro_oeste = df_rais_vinculos_centro_oeste[(df_rais_vinculos_centro_oeste['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_centro_oeste.to_csv('2022/rais_2022/df_rais_vinculos_centro_oeste.csv', index=False)

## limpeza de memória
del df_rais_vinculos_centro_oeste
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_3500\2709365922.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_centro_oeste = pd.read_csv('2022/RAIS_VINC_PUB_CENTRO_OESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import SP.

In [6]:
# importando dados rais
df_rais_vinculos_sp = pd.read_csv('2022/RAIS_VINC_PUB_SP.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_sp['ano'] = 2022

# # Reorganizado posição das colunas. 
df_rais_vinculos_sp = df_rais_vinculos_sp[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_sp = df_rais_vinculos_sp[(df_rais_vinculos_sp['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_sp.to_csv('2022/rais_2022/df_rais_vinculos_sp.csv', index=False)

C:\Users\ebteo\AppData\Local\Temp\ipykernel_22840\4277143560.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_sp = pd.read_csv('2022/RAIS_VINC_PUB_SP.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

In [9]:
## limpeza de memória
del df_rais_vinculos_sp
gc.collect()

0

Import NI

In [10]:
# importando dados rais
df_rais_vinculos_ni = pd.read_csv('2022/RAIS_VINC_PUB_NI.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_ni['ano'] = 2022

# # Reorganizado posição das colunas. 
df_rais_vinculos_ni = df_rais_vinculos_ni[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_ni = df_rais_vinculos_ni[(df_rais_vinculos_ni['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_ni.to_csv('2022/rais_2022/df_rais_vinculos_ni.csv', index=False)

In [13]:
df_rais_vinculos_ni.head()

,ano,Município,Nacionalidade,Raça Cor,Sexo Trabalhador,Idade,Faixa Etária,Escolaridade após 2005,Vínculo Ativo 31/12,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 2.0 Subclasse,Natureza Jurídica,Tamanho Estabelecimento,Tipo Estab,Tipo Admissão,Tipo Vínculo,Vl Remun Média Nom,Vl Remun Média (SM)
413,2022,999999,10,8,1,50,7,1,1,717020,41204,4120400,2062,3,1,0,10,0.0000,0.0000
414,2022,999999,10,8,1,51,7,1,1,715210,81125,8112500,3085,2,1,2,10,1567.8300,1.2900
415,2022,999999,10,9,1,35,5,1,1,715210,41204,4120400,9999,3,6,2,10,1247.8800,1.0200
416,2022,999999,10,2,1,36,5,1,1,717020,42227,4222701,9999,4,6,2,10,1268.6300,1.0400
417,2022,999999,10,2,1,39,5,2,1,514120,94308,9430800,3999,2,1,0,10,1913.7300,1.5700

### Agregar planilhas rais 2022

In [11]:
## Agrupar planilhas tratadas
df_rais_vinculos_2022 = pd.concat(
    map(pd.read_csv, glob.glob('2022/rais_2022/df_rais_vinculos_*.csv')),
    ignore_index=True)

C:\Users\ebteo\AppData\Local\Temp\ipykernel_22840\1461894561.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2022 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_22840\1461894561.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2022 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_22840\1461894561.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2022 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_22840\1461894561.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2022 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_22840\1461894561.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2022 = pd.concat(

In [12]:
### Verificar total de registros
df_rais_vinculos_2022['Município'].count()

49672427

In [14]:
df_rais_vinculos_2022.to_csv('2022/rais_2022/df_rais_total_vinculos_2022.csv', index=False)

In [15]:
## limpeza de memória
del df_rais_vinculos_2022
gc.collect()

0